<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE policyconfig PUBLIC "-//freedesktop//DTD polkit Policy Configuration 1.0//EN"
"http://www.freedesktop.org/software/polkit/policyconfig-1.dtd">
<policyconfig>

  <vendor>Vorta</vendor>
  <vendor_url>https://vorta.borgbase.com/</vendor_url>

  <action id="com.borgbase.Vorta.pkexec.policy.run">
    <description>Run Vorta as root</description>
    <message>Authentication is required to run Vorta as root</message>
    <icon_name>com.borgbase.Vorta</icon_name>
    <defaults>
      <allow_any>no</allow_any>
      <allow_inactive>no</allow_inactive>
      <allow_active>auth_admin</allow_active>
    </defaults>
    <annotate key="org.freedesktop.policykit.exec.path">/usr/local/bin/vorta-wrapper</annotate>
    <annotate key="org.freedesktop.policykit.exec.allow_gui">true</annotate>
  </action>

</policyconfig>
